.vscode
.JuliaFormatter.toml
.VSCodeCounter
Manifest.toml
test/scrach*
test/benchmark*
backup
*.pb.gz
extra
*.mp4
*.png
.DS_Store
data
chain*.jld2
metadata*.jld2
frames*.jld2
groundtruth*.jld2
benchmarks